* {
    margin: 0px;
    padding: 0px;
}

header {
    margin-bottom: 130px;
}

.header-container {
    height: 600px;
    background: rgba(229, 84, 115, 0.10);
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.header-container-left {
    padding-left: 200px;
}

.header-container-left>h1 {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-weight: 800;
}

.header-container-left>p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 15x;
    font-weight: 400;
    line-height: 30px;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-container-left>button {
    border: none;
    padding: 20px 43px;
    border-radius: 8px;
    color: white;
    background-color: #E55473;

    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}

.header-container-right {
    height: 600px;
}

.header-container-right>img {
    width: 100%;
    height: 100%;
}

/* -----------feature------- */
#feature {
    margin-bottom: 130px;
}

.feature-heading {
    margin-bottom: 50px;
}

.feature-heading>h1 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
}

.feature-heading>p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.feature-container-card1 {
    width: 230px;
    height: 230px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.feature-container-card2 {
    width: 230px;
    height: 230px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    ;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.feature-container-card3 {
    width: 230px;
    height: 230px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.card-box {
    height: 230px;
    margin-left: 20px;
    margin-right: 20px;
}

.pink-flower {
    width: 100%;
    height: 100%;
}

.feature-container-card1>p {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.feature-container-card2>p {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.feature-container-card3>p {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.feature-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}


/* --------Policy------- */

#policy {
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    margin-left: 250px;
    margin-right: 290px;
    margin-bottom: 130px;
}

.policy-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.policy-container>.policy-container-column>div>img {
    width: 50px;
    height: 50px;
}

.policy-container>.policy-container-column>div>p {
    color: rgba(39, 39, 39, 0.80);
    font-family: Lato;
    font-size: 12px;
    font-weight: 600;
    line-height: 35px;
}


/* --------deal----------- */
.deal-container {
    height: 400px;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 130px;
}

.deal-container-column-left {
    padding-left: 100px;
}

.deal-container-column-left>h1 {
    padding-bottom: 25px;
}

.off {
    color: #E55473;
    font-weight: bold;
}

.deal-container-column-left>p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 25px;
    padding-right: 15px;
}

.deal-container-column-left>button {
    border-radius: 8px;
    background-color: #E55473;
    padding: 20px 43px;
    border: none;

    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}

.deal-container-column-right>img {
    width: 250px;
    padding-right: 200px;
}


/* -------Instragram------ */
#instragram {
    margin-bottom: 130px;
}

.instragram-heading {
    text-align: center;
}

.instragram-heading>h1 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 25px;
}

.instragram-heading>p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 50px;
}

.instragram-img-card {
    width: 250px;
    height: 300px;
}

.instragram-img-card>img {
    width: 100%;
    height: 100%;
}

.instragram-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}


/* ---------latest deals----------- */
#latest-deals {
    background-image: url("../images/Rectangle 9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 310px;
    width: 1000px;
    margin: auto;
    margin-bottom: 130px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-deals-item>h1 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.latest-deals-item>p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
}

input[type=email] {
    background-color: #FFF;
    border-radius: 8px;
    width: 400px;
    border: none;
    padding: 16px;
}

input[type=email]:focus {
    outline: none;
}

.latest-deals-item>div>button {
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    color: white;
    background-color: #E55473;
    margin-left: 5px;

    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
}



/* -----------footer----------- */
.footer {
    text-align: center;
    color: #FFF;
    background-color: #111010;
    padding-top: 130px;
    padding-bottom: 130px;
}

.footer>h1 {
    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 25px;
}

.flower {
    color: #E55473;
}

.footer>p {
    color: rgba(255, 255, 255, 0.90);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}